<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="access-control-allow-origin" value="*" />
        <add name="access-control-allow-headers" value="content-type" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to Bloc-Tec" stopProcessing="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Redirect" url="https://bloc-tec.com" />
        </rule>
        <rule name="Redirect to https" enabled="false" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to WWW" enabled="false" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^paverpicker.com$" />
          </conditions>
          <action type="Redirect" url="https://www.paverpicker.xyz/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="PHP53_via_FastCGI" />
      <remove name="PHP_via_FastCGI1" />
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI1" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.2\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="default.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
    <httpErrors errorMode="DetailedLocalOnly" />
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".png" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="1" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="PaverPickerService">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBindingNone" contract="PaverPickerService" />
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBindingSecure" contract="PaverPickerService" />
      </service>
      <service name="PaverPicker3Service">
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBindingNone" contract="PaverPicker3Service" />
        <endpoint address="" behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBindingSecure" contract="PaverPicker3Service" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBindingNone" maxReceivedMessageSize="10000000" maxBufferSize="10000000">
          <security mode="None">
          </security>
        </binding>
        <binding name="webBindingSecure" maxReceivedMessageSize="10000000" maxBufferSize="10000000">
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.office365.com" port="587" userName="ross@bloc-tec.com" password="Brice215" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
